<div class="welcome">
    <h1>Bienvenido</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas quod doloribus eos iste facilis, nam voluptatum minima, commodi reiciendis minus consectetur cum fugit quos? Minus maiores et necessitatibus asperiores!

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus iusto repudiandae unde! Quae sequi nemo labore fuga a, corrupti, saepe quia quisquam minus cumque dolores atque sit asperiores maiores quam.
    </p>
</div>