<div class="align">
    <h1>Bienvenido a ARCORP C.A.</h1>
    <p>Para <a href="register" target="_blank" rel="noopener noreferrer">registrarte</a> o <a href="login" target="_blank" rel="noopener noreferrer">iniciar</a>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, omnis a accusamus ratione at tempore excepturi animi necessitatibus aut cumque possimus, vitae saepe magnam cupiditate molestias rerum nemo, quidem minus?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ducimus odit voluptatum repellat atque cupiditate pariatur quae voluptatibus doloribus ex laudantium consequuntur corporis illo distinctio nemo excepturi expedita nobis officia!</p>

    <img src="./assets/login3.png " alt="arcorp">
    </div>